<!DOCTYPE html>
<html lang="en">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

	{% if title %}
	<title>UniqX - {{ title }}</title>
	{% else %}
	<title>UniqX</title>
	{% endif %}

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  </head>
  <body class="text-center">
	  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  	  <header class="masthead mb-auto">
  		<div class="inner">
  	      <h3 class="masthead-brand">UniQx</h3>
  	      <nav class="nav nav-masthead justify-content-center">
  			<a class="nav-link active" href="/home">Home</a>
  			<a class="nav-link" href="/register">Sign up</a>
  			<a class="nav-link" href="/login">Login</a>
  	      </nav>
  	    </div>
  	  </header>

  	  <main role="main" class="inner cover">
  	    <h1 class="cover-heading">Welcome to UniQx</h1>
  	    <p class="lead">UniQx is a Social Networking Website for GNU Fans. Typical Linux and Unix users, geeks, open source lovers. Identify yourself as a part of open software community</p>
  	    <p class="lead">
  	      <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
  	    </p>
  	  </main>

  	  <footer class="mastfoot mt-auto">
  	    <div class="inner">
  	      <p>website source code - <a href="https://getbootstrap.com/">github</a>, by <a href="https://twitter.com/bugswriter">@bugswriter</a>.</p>
  	    </div>
  	  </footer>
  	</div>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
