{% extends 'layout.html' %}
{% block content %}

{% if success %}
<h1>{{ success }}</h1>
{% endif %}
<form class="form-signin" methods="POST" action="">
  <img class="mb-4" src={{ url_for('static' , filename='images/logo.png') }} alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
    </div>
    {{ form.username(class="form-control", placeholder="Username") }}
  </div>
  
  
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
    </div>
    {{ form.password(class="form-control", placeholder="Password") }}
  </div>
  
  
  <div class="checkbox mb-3" id="form-checkbox">
    <label>
      <input type="checkbox" value="remember-me">&nbsp Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <div class="border-top pt-3">
	<small class="text-muted">
	 Password got lost?<a class="ml-2" href="/register">Forget Password</a>
  </small>
  </div>

</form>
{% endblock content %}
