{% extends 'layout.html' %}
{% block content %}
<form method="POST" action="" class="form-signin">
  {{ form.hidden_tag() }}
  <img class="mb-4" src={{ url_for('static' , filename='images/logo.png') }} alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Join Today</h1>

  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
    </div>
    {{ form.username(class="form-control", placeholder="Username") }}
  </div>
  
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
    </div>
    {{ form.email(class="form-control", placeholder="Email Address") }}
  </div>
  
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
    </div>
    {{ form.password(class="form-control", placeholder="Password") }}
  </div>
  
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
    </div>
    {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
  </div>
  <div class="checkbox mb-3" id="form-checkbox">
    <label>
      <input type="checkbox" value="remember-me">&nbsp I accept all <a href="#">Terms & Conditions</a>
    </label>
  </div>
  
  {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
  <div class="border-top pt-3">
	<small class="text-muted">
	  Already have an account? <a class="ml-2" href="/login">Login</a>
	</small>
  </div>
</form>

{% endblock content %}
